/* load fonts */

.page-container {
    max-width:1200px;
    margin:0 auto;
}
html {
    box-sizing:border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}

body {
    margin: 0;
    background-color: #A8E6CD;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 400%;
    color: #444;
    margin: 20px;
}

#game-board {
    height: 300px;
    width: 300px;
    background-color: #A8E6CD;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 100px #4e372128;
    position: relative;
}
#reset-button {
    margin-top: 1%;
    margin-left: 44%;
    background-color: #D0ECC4;
    border: 2px;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0px 0px 100px #4e372128;
}
.box-1 {
    height: 100px;
    width: 100px;
    background-color: #D0ECC4;
    cursor: pointer;
}

.box-2 {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.box-1:hover {
    background-color: #6B818C;
}

.box-2:hover {
    background-color: #6B818C;
}

[id^="row-"] {
    float: left;
}
[class^="box-"] {
    font-family:  'Indie Flower', cursive;
    font-size: 400%;
    color: #444;
    text-align: center;
}
#game_result {
    display: none;
    text-align: center;
    font-size: 200%;
    color: #444;
}
